$left-spacing: 120px + 10px + 40px + 40px;
$top-spacing: 40px + 120px + 40px;
$col-spacing: 200px;

$col-width: 550px;

$overscroll: hoz-padding($left-spacing);

main.entry {
  margin-top: $top-spacing;
  padding-left: $left-spacing;
  padding-right: $left-spacing;

  height: calc(100vh - #{80px+$top-spacing}); // 80px will almost certainly avoids the scrollbar on body

  @include font-serif;
}

main.entry > div {
  // transform: rotate(-90deg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: $col-width + $col-spacing;
  margin-right: -$col-spacing;

  > * {
    margin-right: $col-spacing;
    width: $col-width;
  }

  &::after {
    content: "";
    position: static;
    width: $overscroll;
    height: 20px;
    margin-left: $col-width - 20px;
    border-left: $accent 20px solid;
  }
}

.entry-fade {
  &-enter {
    opacity: 0;
    transform: translateX(30px);
  }

  &-enter-active {
    transition: opacity .5s ease, transform 1s ease;
    opacity: 1;
    transform: none;
  }

  &-exit {
    opacity: 1;
    transform: none;
  }

  &-exit-active {
    transition: opacity .5s ease, transform 1s ease;
    opacity: 0;
    transform: translateX(30px);
    pointer-events: none;
  }
}
