@import "./fonts";

.tile {
  position: relative;
  display: inline-flex;

  &-meta {
    border-top: grayscale($background) 5px solid;
    padding-top: 10px;

    margin-left: 5px;
    width: 35px;
    line-height: 35px;
    font-size: 18px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @include font-monospace;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways;

    font-weight: 300;

    background: grayscale($background);

    color: rgba(0,0,0, .38);

    user-select: none;

    strong {
      font-weight: 700;
    }
  }
}
